* {
  box-sizing: border-box;
}
.tac {
text-align: center;
margin: 0 5%;
}
.bg {
    background-color: gainsboro;
    margin-top: 0px;
}

.width {
    width: 300px;
}

.mt {
  margin-top: -13px;
}

ol {
  list-style: none;
}

.box1 {
  padding: 12px 0;
  height: 85px;
    float: left;
    width:35%;
    margin-right:;
    background-color:#7EE5DA;
  }

  .box2 {

    height: 85px;
    float: left;
    width: 24.8%;
    margin-left: 0.2%;
    background-color:#62B3AA;
  }

  .box3 {
    height: 85px;
    float: left;
    margin-left: 0.2%;
    width:39.8%;
    background-color: #62B3AA;
  }

  .clear {
    clear: both;
  }